<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">


  <title>pollr</title>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
    <div class="container">
      <a class="navbar-brand" href="#">pollr.io</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/topics/new">new topic</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/polls/new">new poll</a>
          </li>
          <li class="nav-item">
            <a class="nav-link google-sign-out" href="#">sign out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>