<% include ../partials/header %>

  <div class="container">

    <div class="row">
      <div class="col-md-6 offset-md-3 col-sm-12">
        <h1>Create a Poll</h1>

        <!-- QUESTION -->
        <div class="input-group mt-3">
          <input class="form-control question-input border-dark" type="text" name="question" placeholder="Question">
        </div>

        <!-- OPTIONS -->
        <div class="mt-3">
          <div class="row">
            <div class="col-sm-6 col-12 mt-1">
              <input class="form-control option1-input border-success" type="text" name="option1" placeholder="Option 1">
            </div>
            <div class="col-sm-6 col-12 mt-1">
              <input class="form-control option2-input border-danger" type="text" name="option2" placeholder="Option 2">
            </div>
          </div>
        </div>

        <!-- MODAL -->
        <div class="row">
          <div class="col-sm-12 col-md-6 offset-md-3">

            <h5 class="mt-3">Topic:</h5>


            <button type="button" class="btn btn-light btn-block topic-model-open-button" data-toggle="modal" data-target="#exampleModal">
              Select Topic
            </button>


            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Select Topic</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <ul class="list-group topics">
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary choose-topic-button" data-dismiss="modal">Choose</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- SUBMIT POLL -->
        <input class="btn btn-block btn-info submit-poll mt-3" type="submit" value="Create poll">
      </div>
    </div>


  </div>

  <% include ../partials/scripts %>

    <script src="/lib/newPoll.js"></script>
    <script src="/lib/selectTopic.js"></script>

    <% include ../partials/footer %>