<% include ../partials/header %>

  <div class="container">
    <h1>Log in here</h1>
    <button class="google-sign-in btn btn-success">Sign in with google</button>
  </div>

  <% include ../partials/scripts %>

    <% include ../partials/footer %>